<footer id="footer" class="container-fluid white-section">
  
  <div class="footer-list">
  <a href="/">Journal</a>
  <a href="/newsletter">Newsletter</a>
  <a href="/about">About Me
     
  </a>
  </div>
  <div class="social-links">
    <a href=""><i class="fab fa-facebook-f fa-lg"></i></a>
    <a href=""><i class="fab fa-twitter fa-lg"></i></a>
    <a href="https://www.instagram.com/ankur_.solanki/?hl=en" target="blank"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="https://www.linkedin.com/in/ankur-solanki-737459202" target="blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
</div>
  <a> &copy; Ankur Solanki</a>
   
</footer>
</body>

</html>


