<%- include ("partials/header") %>
<div class="container-fluid "id="main-content">
    <h1>
<%= postTitleOut %>
    </h1>
    <p>
<%= postBodyOut %> 
    </p>
</div>
    <%- include ("partials/footer") %>